{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 90vh;
    }
</style>
{% endblock %}

{% block title %}Sign Up!{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_errors(form) }} {# Display global form errors #}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <button type="submit">Sign up</button>
{{ form_end(form) }}
<a href="/login">Already have an account?</a>
{% endblock %}
