{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block stylesheets %}
<style>
.space-left {
    margin-left: 20px;
}
.red {
    border-color: var(--pico-color-red-400);
    color: var(--pico-color-red-400);
}
</style>
{% endblock %}


{% block body %}
    <h1>Books</h1>
    {% for book in books %}
    <article>
        <hgroup>
            <h3>{{ book.name }}</h3>
            <p>{{ book.author }}</p>
        </hgroup>

        <strong>ISBN:</strong> {{ book.isbn }}
        <br>

        <strong>Publication Date:</strong> {{ book.publication_date }}
        <br>

        <strong>Genres:</strong> {{ book.genres|join(', ') }}
        <br>

        <strong>Number of Copies:</strong> {{ book.num_copies }}
        <br>

        {% if app.user %}
            <hr>
            <button>Edit</button>
            <button class="outline red space-left">Remove</button>
        {% endif %}
    </article>
    {% endfor %}

    {% if app.user %}
        <a href="/book/new"><button class="secondary">Add Book</button></a>
    {% endif %}
{% endblock %}
