{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block stylesheets %}
<style>
.red {
    border-color: var(--pico-color-red-400);
    color: var(--pico-color-red-400);
}

.red:hover {
    border-color: var(--pico-color-red-300);
    color: var(--pico-color-red-300);
}

</style>
{% endblock %}

{% block body %}
    <h1>Books</h1>
    <input
        type="search"
        id="book-search"
        name="search"
        placeholder="Search by title, author, or ISBN"
        aria-label="Search"
    />
    <div id="books-list">
        {% for book in books %}
        <article>
            <hgroup>
                <h3 class="book-title">{{ book.title }}</h3>
                <p class="book-author">{{ book.author }}</p>
            </hgroup>

            <strong>ISBN:</strong> <span class="book-isbn">{{ book.isbn }}</span>
            <br>

            <strong>Publication Date:</strong> {{ book.publicationDate|date('Y-m-d') }}
            <br>

            <strong>Genres:</strong> {{ book.genres|join(', ') }}
            <br>

            <strong>Number of Copies:</strong> {{ book.copies }}
            <br>

            {% if app.user %}
                <hr>
                <form action="{{ path('app_edit_book', {'bookId': book.id}) }}" method="PUT">
                    <input type="hidden" name="_method" value="PUT">
                    <button class="outline" type="submit">Edit</button>
                </form>

                <form action="{{ path('app_delete_book', {'bookId': book.id}) }}" onsubmit="return confirm('Are you sure you want to delete this book?');">
                    <button class="outline red" type="submit">Remove</button>
                </form>
            {% endif %}
        </article>
        {% endfor %}
    </div>

    {% if app.user %}
        <form action="{{ path('app_new_book') }}" method="post">
            <input type="hidden" name="_method" value="POST">
            <button type="submit">New Book</button>
        </form>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('book-search').addEventListener('input', function() {
            const searchTerm = this.value.toLowerCase();
            const books = document.querySelectorAll('#books-list article');
            
            books.forEach(book => {
                const title = book.querySelector('.book-title').textContent.toLowerCase();
                const author = book.querySelector('.book-author').textContent.toLowerCase();
                const isbn = book.querySelector('.book-isbn').textContent;
                
                if (title.includes(searchTerm) || author.includes(searchTerm) || isbn.includes(searchTerm)) {
                    book.style.display = 'block';
                    return;
                }

                book.style.display = 'none';
            });
        });
    });
</script>
{% endblock %}
